{{> header}}

<h1>Perfil</h1>
<ul class="list-group">
     <li class="list-group-item">username: {{user.username}}</li>
    <li class="list-group-item">email: {{user.email}}</li>
    <li class="list-group-item">direccion: {{user.direccion}}</li>
    <li class="list-group-item">edad: {{user.edad}}</li>
    <li class="list-group-item">numero: {{user.numero}}</li>
    <li class="list-group-item"><img src="/uploads/{{user.avatar}}" alt="" class="imgSize"></li>
</ul>
